# Airbnb Market Trends

New York City has a variety of Airbnb listings to meet the high demand for temporary lodging for travelers, with several different price levels, room types, and locations.

In this project, I apply my data importing, cleaning and manipulation skills to explore New York City Airbnb data and report insights to a hypothetical real estate startup.

The idea and datasets for this project are from [this DataCamp project](https://app.datacamp.com/learn/projects/exploring-airbnb-market-trends/guided/Python).

## About the datasets

**data/airbnb_price.csv**: This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**: This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**: This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

## Load and inspect data

In [2]:
# Import library
import pandas as pd

In [4]:
# Load data
df_prices = pd.read_csv("data/airbnb_price.csv")

sheets = pd.ExcelFile("data/airbnb_room_type.xlsx")
print(sheets.sheet_names)
df_room_types = sheets.parse("airbnb_room_type")

df_reviews = pd.read_csv("data/airbnb_last_review.tsv", sep="\t")

['airbnb_room_type']

In [6]:
# Inspect df_prices
print(df_prices.info())
df_prices.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
listing_id     25209 non-null int64
price          25209 non-null object
nbhood_full    25209 non-null object
dtypes: int64(1), object(2)
memory usage: 590.9+ KB
None

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [7]:
# Inspect df_room_types
print(df_room_types.info())
df_room_types.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
listing_id     25209 non-null int64
description    25199 non-null object
room_type      25209 non-null object
dtypes: int64(1), object(2)
memory usage: 590.9+ KB
None

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [8]:
# Inspect df_reviews
print(df_reviews.info())
df_reviews.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
listing_id     25209 non-null int64
host_name      25201 non-null object
last_review    25209 non-null object
dtypes: int64(1), object(2)
memory usage: 590.9+ KB
None

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

## Merge the DataFrames

All three DataFrames have a `listing_id` column. Let's merge them on this column.

In [30]:
df_airbnb = df_prices.merge(df_room_types, on="listing_id").merge(df_reviews, on="listing_id")
df_airbnb.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019

## Find the earliest and most recent review dates

To do this, the `last_review` column must be converted to a `datetime` data type.

In [31]:
df_airbnb["last_review"] = df_airbnb["last_review"].astype("datetime64")
print(df_airbnb.info())
df_airbnb.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
listing_id     25209 non-null int64
price          25209 non-null object
nbhood_full    25209 non-null object
description    25199 non-null object
room_type      25209 non-null object
host_name      25201 non-null object
last_review    25209 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 1.5+ MB
None

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,2019-05-21
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,2019-07-05
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,2019-06-22
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,2019-06-24
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,2019-06-09

Now, let's find the earliest and latest reviews dates.

In [32]:
first_review_date = df_airbnb["last_review"].min()
last_review_date = df_airbnb["last_review"].max()
print(f"earliest: {first_review_date}\t\tmost recent: {last_review_date}")

earliest: 2019-01-01 00:00:00		most recent: 2019-07-09 00:00:00

## How many listings are private rooms?

Let's inspect all possible values of `room_type` feature.

In [33]:
df_airbnb["room_type"].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

To capture all listings that are "private room", we may convert all entries in the `room_types` column to lower case before filtering for records that are "private room".

In [34]:
df_airbnb["room_type"] = df_airbnb["room_type"].str.lower()
nb_private_rooms = df_airbnb[df_airbnb["room_type"] == "private room"]["room_type"].shape[0]
nb_private_rooms

11356

## Find the average price of listings

To do this, the `price` column must first be converted from string to float.

In [35]:
df_airbnb["price"] = df_airbnb["price"].str.replace(
    "dollars", "", regex=False).str.strip().astype(float)
print(df_airbnb["price"].head())

avg_price = df_airbnb["price"].mean()
avg_price

0    225.0
1     89.0
2    200.0
3     79.0
4    150.0
Name: price, dtype: float64

141.7779364512674

## Create a DataFrame with the four solution values

Let me collate the above findings in a DataFrame I'll present to the real estate startup.

In [36]:
data_dict = {
    "first_reviewed": first_review_date,
    "last_reviewed": last_review_date,
    "nb_private_rooms": nb_private_rooms,
    "avg_price": round(avg_price, 2)
}
review_dates = pd.DataFrame(data=data_dict, index=[0])
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78